
.font-inter-light{
    font-family: 'Inter', sans-serif;
}


.font-inter-extralight{
    font-family: 'Inter', sans-serif;
}
.font-inter-extralight-italic{
    font-family: 'Inter', sans-serif;
}

.font-inter-regular{
    font-family: 'Inter', sans-serif;
}

.font-roboto-regular{
    font-family: 'Roboto', sans-serif;
}
